/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D4A76A; 
}

header {
    background-color: #FFDBAA;
    color: #553100;
    padding: 2.5% 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links a {
    background-color: #805215;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

main {
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;

    margin-bottom: 5%;
}

.card {
    background-color: white; 
    border: 2px solid #5C3A30; 
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 30%; 
}

    .card h2 {
        color: #5C3A30; 
    }

    .card button {
        background-color: #805215;
        color: white; 
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
    }

.about {
    background-color: white; 
    border: 2px solid #5C3A30; 
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

    .about button {
        background-color: #805215; 
        color: white; 
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
    }